# logs
logs/
*.log
npm-debug.log*

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env
.env
.env.*
!.env.example

# local editor/system
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
